body {
  background-color: #021B27;
  font-family: 'Oswald', sans-serif;
}
input {
  background-color: #021B27;
  border: 0px;
  width: 90%;
  font-size: 4em;
  font-weight: 600;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #E7E8CD;
  text-align: center;
  text-transform: uppercase;
}
#input-wrapper {
  height: 4em;
  width: 100%;
  text-align: center;
  margin-top: 10%
}

#clock-wrapper {
  text-align: center;
  color: #E7E8CD;
  font-weight: 200;
}
#time {
  font-size: 6em;
}
#date {
  font-size: 2em;
}