body {
  background-color: #021B27;
  font-family: 'Oswald', sans-serif;
}
input {
  background-color: #021B27;
  border: 0px;
  width: 90%;
  font-size: 3em;
  font-weight: 600;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #E7E8CD;
  text-align: center;
  text-transform: uppercase;
}
#input-wrapper {
  height: 4em;
  width: 100%;
  text-align: center;
  margin-top: 25%
}